<header class="header navbar navbar-expand-lg navbar-dark position-absolute navbar-sticky">
  <div class="container px-3">
    <a href="/" class="navbar-brand pe-3"><img src="@Assets["images/logo.png"]" width="67" alt="Slicksys Development">Slicksys Development</a>
    <div id="navbarNav" class="offcanvas offcanvas-end bg-dark">
      <div class="offcanvas-header border-bottom border-light">
        <h5 class="offcanvas-title text-white">Menu</h5>
        <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas" aria-label="Close"></button>
      </div>
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">

        <li class="nav-item">
          <a href="/about" class="nav-link">About</a>
        </li>
        <li class="nav-item">
          <a href="/service-pricing" class="nav-link">Pricing</a>
        </li>
        <li class="nav-item">
          <a href="/blog" class="nav-link">Blog</a>
        </li>
        <li class="nav-item">
          <a href="/contact" class="nav-link">Contact</a>
        </li>
        <li class="nav-item">
          <a href="/products" class="nav-link">Products</a>
        </li>

        <li class="nav-item dropdown">
          <a href="#" class="nav-link dropdown-toggle active" data-bs-toggle="dropdown"
             aria-current="page">Services</a>
          <div class="dropdown-menu dropdown-menu-dark p-0">
            <div class="d-lg-flex">
              <div
                class="mega-dropdown-column d-flex justify-content-center align-items-center rounded-3 rounded-end-0 px-0"
                style="margin: -1px; background-color: #f3f6ff;">
                <img src="@Assets["images/landings.jpg"]" alt="Services">
              </div>
              <div class="mega-dropdown-column pt-lg-3 pb-lg-4" style="--si-mega-dropdown-column-width: 15rem;">
                <ul class="list-unstyled mb-0">
                  <li><a href="/services/migration/" class="nav-link">Migration</a></li>
                  <li><a href="/services/software-engineering/" class="nav-link">Custom Development</a></li>
                  <li><a href="/services/artificialintelligence/" class="nav-link">Artificial Intelligence</a></li>
                  <li><a href="/services2" class="nav-link">Services Version 1</a></li>
                  <li><a href="/services23" class="nav-link">Services Version 2</a></li>
                  <li><a href="/about" class="nav-link">About</a></li>
                  <li><a href="/about2" class="nav-link">About Version 2</a></li>
                  <li><a href="/blog" class="nav-link">Blog</a></li>
                  <li><a href="/blog2" class="nav-link">Blog Version 2</a></li>
                  <li><a href="/" class="nav-link">Home</a></li>
                  <li><a href="/home2" class="nav-link">Home Version 2</a></li>
                  <li><a href="/not-found" class="nav-link">Not Found Version 2</a></li>
                  <li><a href="/porfolioslider" class="nav-link">Portfolio Slider</a></li>
                  <li><a href="/pricing" class="nav-link">Pricing</a></li>
                  <li><a href="/products" class="nav-link">Products</a></li>
                  <li><a href="/acoount/signin" class="nav-link">Sign In</a></li>
                  <li><a href="/account/signup" class="nav-link">Sign Up</a></li>
                  <li><a href="/services/artificialintelligence" class="nav-link">Artificial Intelligence</a></li>
                  <li><a href="/services" class="nav-link">Services</a></li>
                  <li><a href="/services/software-engineering" class="nav-link">Custom Development</a></li>
                  <li><a href="/services/migration" class="nav-link">Migration</a></li>
                  <li><a href="/privacy" class="nav-link">Privacy</a></li>
                  <li><a href="/terms" class="nav-link">Terms</a></li>

                </ul>
              </div>

            </div>
          </div>
        </li>



        <li class="nav-item">
          <a href="/bio" class="nav-link">Bio</a>
        </li>
      </ul>
      <div class="offcanvas-header border-top border-light">
        <a href="https://slicksys.net" class="btn btn-primary w-100" target="_blank" rel="noopener"
           style="display:none;">
          <i class="bx bx-cart fs-4 lh-1 me-1"></i>&nbsp;Buy now
        </a>
      </div>
    </div>
    <div class="pe-lg-1 ms-auto me-4" data-bs-theme="dark">
      <div class="form-check form-switch mode-switch" data-bs-toggle="mode">
        <input type="checkbox" class="form-check-input" id="theme-mode">
        <label class="form-check-label d-none d-sm-block" for="theme-mode">Light</label>
        <label class="form-check-label d-none d-sm-block" for="theme-mode">Dark</label>
      </div>
    </div>
    <button type="button" class="navbar-toggler" data-bs-toggle="offcanvas" data-bs-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <a href="https://slicksys.net" class="btn btn-primary btn-sm fs-sm rounded d-none d-lg-inline-flex" target="_blank"  rel="noopener" style="display: none">
      <i class="bx bx-cart fs-5 lh-1 me-1"></i>&nbsp;Buy now
    </a>
  </div>
</header>




