<div class="page-loading">
    <div class="page-loading-inner @IsActive">
        <div class="page-spinner"></div><span>Loading...</span>
    </div>
</div>
@code
{
    public string IsActive  { get; set; } = "Active";
}
