@page "/services/migration/"

@layout MainLayout

<PageTitle>Slicksys Development | Legacy App Migration to Modern Cloud Architecture</PageTitle>
<!-- Hero -->

<h1 class="display-4 fw-bold text-center">Legacy App Migration to Modern Cloud Architecture</h1>
